<% include layout/header %>
   <h1 class="text-center">
      Products
   </h1>
   <% if(Object.keys(current.admin).length){ %>
      <div class="row">
         <div class="col-md-9"></div>
         <div class="col-md-3">
            <a class="btn btn-lg btn-success" href="/add">Add Product</a>
         </div>
      </div>
   <% } %>
   <div class="container d-flex flex-wrap">
      <% products.forEach( (product, i) => {%>
         <div class="card bg-dark text-white m-4" style="width: 18rem;">
            <div class="card-body">
               <h5 class="card-title">
                  <div class="row">
                     <div class="col-md-10">
                        <%= product.pName %>
                     </div>
                     <% if(Object.keys(current.admin).length){ %>
                        <div class="col-md-2">
                           <form action="/delete" method="post">
                              <select name="pid" class="d-none">
                                 <option><%= product._id %></option>
                              </select>
                              <button class="btn btn-sm btn-danger">X</button>
                           </form>
                        </div>
                     <% } %>
                     <% if(Object.keys(current.customer).length){ %>
                        <div class="col-md-2">
                           <form action="/myproducts/add" method="post">
                              <select name="pid" class="d-none">
                                 <option><%= product._id %></option>
                              </select>
                              <button class="btn btn-sm btn-success">+</button>
                           </form>
                        </div>
                     <% } %>
                  </div>
               </h5>
               <ul class="list-group">
                  <li class="list-group-item list-group-item-dark"><b>Price:</b> <%= `${product.price}` %></li>
                  <li class="list-group-item list-group-item-dark"><b>Quantity:</b> <%= `${product.quantity}` %></li>
                  <li class="list-group-item list-group-item-dark"><b>Warehouse:</b> <%= `${product.warehouse}` %></li>
                  <li class="list-group-item list-group-item-dark"><b>Manufacture Date:</b> <%= `${product.mfDate.getDate()}/${product.mfDate.getMonth()}/${product.mfDate.getFullYear()}` %></li>
                  
                  <% if(product.machines.length > 0){ %>
                     <li class="list-group-item list-group-item-dark">
                        <b>Machines:</b>
                        <ul class="list-group mt-2">
                           <% product.machines.forEach( machine => { %>
                              <li class="list-group-item list-group-item-dark"><%= machine %></li>
                           <% }) %>   
                        </ul>
                     </li>
                  <% } %>
               </ul>
            </div>
         </div>
      <% }) %>
   </div>
<% include layout/footer %>